<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hmld.core.mapper.DataPasswordMapper">
  <!-- 密码数据表 -->
  <resultMap type="com.github.hmld.core.enity.DataPasswordEnity" id="dataPasswordResult">
    <!-- 主键 -->
    <id property="passwordPk" column="password_pk"/>
    <!-- 父节点主键 -->
    <result property="parentPk" column="parent_pk"/>
    <!-- 祖籍列表 -->
    <result property="ancestors" column="ancestors"/>
    <!-- 级次 -->
    <result property="grade" column="grade"/>
    <!-- 所属用户主键 -->
    <result property="managerUserPk" column="manager_user_pk"/>
    <!-- 所属用户名称 -->
    <result property="managerNickName" column="manager_nick_name"/>
    <!-- 应用名 -->
    <result property="appName" column="app_name"/>
    <!-- 应用网站 -->
    <result property="appWebUrl" column="app_web_url"/>
    <!-- 注册用户名 -->
    <result property="accountUserName" column="account_user_name"/>
    <!-- 注册用户昵称 -->
    <result property="accountNickName" column="account_nick_name"/>
    <!-- 注册用户Email -->
    <result property="accountEmail" column="account_email"/>
    <!-- 注册用户手机号 -->
    <result property="accountPhoneNumber" column="account_phone_number"/>
    <!-- 注册密码 -->
    <result property="accountPassword" column="account_password"/>
    <!-- 盐 -->
    <result property="salt" column="salt"/>
    <!-- 密码使用状态 -->
    <result property="useFlg" column="use_flg"/>
    <!-- 删除状态 -->
    <result property="delFlg" column="del_flg"/>
    <!-- 创建人 -->
    <result property="creatBy" column="creat_by"/>
    <!-- 创建时间 -->
    <result property="creatTime" column="creat_time"/>
    <!-- 更新人 -->
    <result property="updateBy" column="update_by"/>
    <!-- 更新时间 -->
    <result property="updateTime" column="update_time"/>
  </resultMap>
  <!-- 查询sql -->
  <sql id="dataPasswordVo">SELECT dp.password_pk ,dp.parent_pk ,dp.ancestors ,dp.ancestors ,dp.grade ,dp.manager_user_pk ,dp.manager_nick_name ,dp.app_name ,dp.app_web_url ,dp.account_user_name ,dp.account_nick_name ,dp.account_email ,dp.account_phone_number ,dp.account_password ,dp.salt ,dp.use_flg ,dp.creat_by ,dp.creat_time ,dp.update_by ,dp.update_time ,dp.del_flg FROM data_password dp </sql>
  <!-- 查询总个数 -->
  <select id="queryCountNum" parameterType="com.github.hmld.core.enity.DataPasswordEnity" resultType="Integer">
    SELECT COUNT(dp.password_pk)  FROM data_password dp 
    <where>
      dp.del_flg = 0
      <if test="managerUserPk != null and managerUserPk != ''">
        and dp.manager_user_pk = #{managerUserPk}
      </if>
      <if test="managerNickName != null and managerNickName != ''">
        and dp.manager_nick_name like '%${managerNickName}%'
      </if>
      <if test="appName != null and appName != ''">
        and dp.app_name like '%${appName}%'
      </if>
      <if test="appWebUrl != null and appWebUrl != ''">
        and dp.app_web_url like '%${appWebUrl}%'
      </if>
      <if test="accountUserName != null and accountUserName != ''">
        and dp.account_user_name like '%${accountUserName}%'
      </if>
      <if test="accountNickName != null and accountNickName != ''">
        and dp.account_nick_name like '%${accountNickName}%'
      </if>
      <if test="accountEmail != null and accountEmail != ''">
        and dp.account_email like '%${accountEmail}%'
      </if>
      <if test="accountPhoneNumber != null and accountPhoneNumber != ''">
        and dp.account_phone_number like '%${accountPhoneNumber}%'
      </if>
      <if test="useFlg != null and useFlg != ''">
        and dp.use_flg = #{useFlg}
      </if>
    </where>
  </select>
  <!-- 查询所有 -->
  <select id="queryList" parameterType="com.github.hmld.core.enity.DataPasswordEnity" resultMap="dataPasswordResult">
    <include refid="dataPasswordVo" />
    <where>
      dp.del_flg = 0
      <if test="managerUserPk != null and managerUserPk != ''">
        and dp.manager_user_pk = #{managerUserPk}
      </if>
      <if test="managerNickName != null and managerNickName != ''">
        and dp.manager_nick_name like '%${managerNickName}%'
      </if>
      <if test="appName != null and appName != ''">
        and dp.app_name like '%${appName}%'
      </if>
      <if test="appWebUrl != null and appWebUrl != ''">
        and dp.app_web_url like '%${appWebUrl}%'
      </if>
      <if test="accountUserName != null and accountUserName != ''">
        and dp.account_user_name like '%${accountUserName}%'
      </if>
      <if test="accountNickName != null and accountNickName != ''">
        and dp.account_nick_name like '%${accountNickName}%'
      </if>
      <if test="accountEmail != null and accountEmail != ''">
        and dp.account_email like '%${accountEmail}%'
      </if>
      <if test="accountPhoneNumber != null and accountPhoneNumber != ''">
        and dp.account_phone_number like '%${accountPhoneNumber}%'
      </if>
      <if test="useFlg != null and useFlg != ''">
        and dp.use_flg = #{useFlg}
      </if>
    </where>
    limit #{pageIndex},#{pageSize}
  </select>
  <!-- 查询一条 -->
  <select id="queryOne" parameterType="string" resultMap="dataPasswordResult">
    <include refid="dataPasswordVo" />
    where dp.password_pk = #{passwordPk}
  </select>
  <!-- 添加一条 -->
  <insert id="addOne" parameterType="com.github.hmld.core.enity.DataPasswordEnity">
    insert into data_password(
      password_pk,
      <if test="parentPk != null and parentPk != ''">
        parent_pk,
      </if>
      ancestors,
      grade,
      manager_user_pk,
      manager_nick_name,
      <if test="appName != null and appName != ''">
        app_name,
      </if>
      <if test="appWebUrl != null and appWebUrl != ''">
        app_web_url,
      </if>
      <if test="accountUserName != null and accountUserName != ''">
        account_user_name,
      </if>
      <if test="accountNickName != null and accountNickName != ''">
        account_nick_name,
      </if>
      <if test="accountEmail != null and accountEmail != ''">
        account_email,
      </if>
      <if test="accountPhoneNumber != null and accountPhoneNumber != ''">
        account_phone_number,
      </if>
      <if test="accountPassword != null and accountPassword != ''">
        account_password,
      </if>
      <if test="salt != null and salt != ''">
        salt,
      </if>
      <if test="useFlg != null">
        use_flg,
      </if>
      creat_by,
      creat_time,
      <if test="updateBy != null and updateBy != ''">
        update_by,
      </if>
      <if test="updateTime != null and updateTime != ''">
        update_time,
      </if>
      del_flg
    ) 
    values(
      #{passwordPk},
      <if test="parentPk != null and parentPk != ''">
        #{parentPk},
      </if>
      #{ancestors},
      #{grade},
      #{managerUserPk},
      #{managerNickName},
      <if test="appName != null and appName != ''">
        #{appName},
      </if>
      <if test="appWebUrl != null and appWebUrl != ''">
        #{appWebUrl},
      </if>
      <if test="accountUserName != null and accountUserName != ''">
        #{accountUserName},
      </if>
      <if test="accountNickName != null and accountNickName != ''">
        #{accountNickName},
      </if>
      <if test="accountEmail != null and accountEmail != ''">
        #{accountEmail},
      </if>
      <if test="accountPhoneNumber != null and accountPhoneNumber != ''">
        #{accountPhoneNumber},
      </if>
      <if test="accountPassword != null and accountPassword != ''">
        #{accountPassword},
      </if>
      <if test="salt != null and salt != ''">
        #{salt},
      </if>
      <if test="useFlg != null">
        #{useFlg},
      </if>
      #{creatBy},
      #{creatTime},
      <if test="updateBy != null and updateBy != ''">
        #{updateBy},
      </if>
      <if test="updateTime != null and updateTime != ''">
        #{updateTime},
      </if>
      #{delFlg}
    )
  </insert>
  <!-- 更新一条 -->
  <update id="updateOne" parameterType="com.github.hmld.core.enity.DataPasswordEnity">
    update data_password
    <set>
      <if test="parentPk != null and parentPk != ''">
        parent_pk = #{parentPk},
      </if>
      <if test="ancestors != null and ancestors != ''">
        ancestors = #{ancestors},
      </if>
      <if test="grade != null and grade != ''">
        grade = #{grade},
      </if>
      <if test="appName != null and appName != ''">
        app_name = #{appName},
      </if>
      <if test="appWebUrl != null and appWebUrl != ''">
        app_web_url = #{appWebUrl},
      </if>
      <if test="accountUserName != null and accountUserName != ''">
        account_user_name = #{accountUserName},
      </if>
      <if test="accountNickName != null and accountNickName != ''">
        account_nick_name = #{accountNickName},
      </if>
      <if test="accountEmail != null and accountEmail != ''">
        account_email = #{accountEmail},
      </if>
      <if test="accountPhoneNumber != null and accountPhoneNumber != ''">
        account_phone_number = #{accountPhoneNumber},
      </if>
      <if test="accountPassword != null and accountPassword != ''">
        account_password = #{accountPassword},
      </if>
      <if test="salt != null and salt != ''">
        salt = #{salt},
      </if>
      <if test="useFlg != null">
       use_flg = #{useFlg},
      </if>
      <if test="updateBy != null and updateBy != ''">
        update_by = #{updateBy},
      </if>
      <if test="updateTime != null and updateTime != ''">
        update_time = #{updateTime},
      </if>
    </set>
    where password_pk = #{passwordPk}
  </update>
  <!-- 删除一条 -->
  <delete id="delOne" parameterType="com.github.hmld.core.enity.DataPasswordEnity">
    update data_password
    set
      del_flg = 1,
      use_flg = 1,
      update_by = #{updateBy},
      update_time = #{updateTime}
    where password_pk = #{passwordPk}
  </delete>
</mapper>